include inc-admin.jade
extends _layout

block content
    h2 #{action.title} - 用户管理
    .container
        +showNav('actions')
        .text-right
            each btn in action.btns
                a.btn.btn-default.btn-sm(href="javascript:void #{btn.action};")= btn.title
        #msg.hidden.alert.bg-info.text-info
        +userlist('已加入活动用户', usersin, 'quit', '移除')
        +userlist('未加入活动用户', usersout, 'joinin', '加入')
    script.
        function joinin(id) {
            request('in', id, function(data) {
                $('#user_' + data.id)
                    .appendTo('#quit')
                    .find('.btn')
                    .text('移除')
                    .attr('href', function(){
                        return $(this).attr('href').replace('joinin', 'quit');
                    });
                $('#quitcount').text(function() {
                    return parseInt($(this).text()) + 1;
                });
                $('#joinincount').text(function() {
                    return parseInt($(this).text()) - 1;
                });
            });
        }
        function quit(id) {
            request('out', id, function(data) {
                $('#user_' + data.id)
                    .appendTo('#joinin')
                    .find('.btn')
                    .text('加入')
                    .attr('href', function(){
                        return $(this).attr('href').replace('quit', 'joinin');
                    });
                $('#quitcount').text(function() {
                    return parseInt($(this).text()) - 1;
                });
                $('#joinincount').text(function() {
                    return parseInt($(this).text()) + 1;
                });
            });
        }
        function request(dir, id, func) {
            $.post(window.href, {
                dir: dir,
                id: id
            }, function(data) {
                func(data);
            });
        }
        function userMatch() {
            $.post('/x/match/#{actionid}', function(data) {
                $('#msg').removeClass('hidden').text(data.msg).show().fadeOut(2500);
            });
        }
mixin userlist(title, users, func, text)
    h4
        | #{title}（
        span(id="#{func}count") #{users.length}
        | ）
    table.table.table-hover(id=func)
        thead
            tr
                th 昵称
                th 姓名
                th 操作
        tbody
            each user in users
                tr(id="user_#{user._id}")
                    td
                        img.img-rounded(width=20,src="#{user.headimgurl}")
                        |  #{user.nickname}
                    td= user.name
                    td
                        a.btn.btn-default.btn-sm(href="javascript:void #{func}('#{user._id}');")= text
