extends _layout-m

block content
    div(data-role="page")
        +title(tstr + "订餐" + users.length + "人")
        .ui-content(role="main")
            ol(data-role="listview")
                each user, index in users
                    li
                        img(src="#{user.headimgurl}")
                        strong  #{user.name || user.nickname}
                        p #{user.country} - #{user.city}
        +menu(typecat)

    script.
        function gugu() {
            $.post('.#{typecat}');
        }

mixin title(title)
    div(data-position="fixed")
        h3= title

mixin menu(cat)
    - var classes = ["ui-btn-active", "ui-state-persist"]
    div(data-role="footer",data-position="fixed")
        div(data-role="navbar")
            ul
                li
                    a(
                        href="/z/am"
                        class= cat == 'am' && classes
                    ) 上午
                li
                    a(
                        href="/z/pm"
                        class= cat == 'pm' && classes
                    ) 下午
                li
                    a(
                        href="javascript:void gugu();"
                        class='gugu'
                    ) 咕咕
