extends _layout

block content
    h2 #{today} #{tstr}订餐 #{users.length} 人
    +menu(typecat)
    table.table
        tbody
            each user, index in users
                if index % 3 == 0
                    tr
                td
                    img(src="#{user.headimgurl}",width="32")
                    strong  #{user.name || user.nickname}

    script.
        function gugu(cat) {
            $.post('./' + cat);
        }

mixin menu(cat)
    ul.nav.nav-pills
        li(class= cat == 'am' && 'active')
            a( href="/z/am") 上午
        li(class= cat == 'pm' && 'active')
            a( href="/z/pm") 下午
        li
            a( href="javascript:void gugu('#{cat}');") 咕咕
