extends _layout

block content
    h4 #{today} #{tstr} - 订餐列表 (#{users.length})
    .container.no-print
        ul.nav.navbar-nav
            li
                a(href="./am") 上午
            li
                a(href="./pm") 下午
    table.table.table-bordered
        tbody
            each user, index in users
                if index % 3 == 0
                    tr
                td= index + 1
                td
                    img.img-rounded(width=20,src="#{user.headimgurl}")
                    |  #{user.name || user.nickname}
    style.
        li { padding: 7px; }
    style(media='print').
        .no-print { display: none; }
