extends _layout-m

block content
    #admin-meeting(data-role="page")
        +header("会议室")
        .ui-content(role="main")
            if isadmin
                form#room-add
                    input#room-name(name="name",data-clear-btn="true",placeholder="添加会议室（名称）")
            ul#room-list(
                data-role="listview"
                data-inset="#{isadmin}"
                data-split-icon="delete"
            )
                for room in rooms
                    li(id="room-#{room._id}",data-roomid="#{room._id}")
                        a(href="#")= room.name
                        if isadmin
                            a(href="#delete-room",data-rel="popup",data-transition="slide") Delete
        +footer('meeting')
        #delete-room(data-role="popup",data-arrow="true")
            form
                .ui-content(role="main") 确定要删除该会议室吗？
                div(data-role="footer")
                    a(data-rel="back",class="ui-btn ui-mini ui-corner-all") Calcel
                    input(type="submit",value="Ok",data-shadow="false",data-mini="true",data-inline="true")
