extends _layout-m

block content
    #admin-calendar(data-role="page")
        +header(room.name, true)
        .ui-content(role="main")
            form#room-meeting(data-role="controlgroup",data-type="horizontal",data-mini="true")
                - var weeks = [, '周一', '周二', '周三', '周四', '周五']
                - var hours = ['07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21']
                select(name="week",data-inline="true")
                    for week in [1, 2, 3, 4, 5]
                        option(value="#{week}")= weeks[week]
                +hourlist('begin')
                +hourlist('end')
                input(type="submit",data-icon="plus",data-iconpos="notext",value="+")
            ul#meeting-list(data-role="listview",data-inset="true")
                for meeting in meetings
                    li= meeting.begin
        +footer('meeting')
        #alert(data-role="popup")
            div(data-role="header")
                h3 提示
            .ui-content(role="main") 预定逻辑开发中...
    mixin hourlist(name)        
        select(name="#{name}",data-inline="true")
            for hour in hours
                option(value="#{hour}",selected= hour == '13' && "selected") #{hour}:00
