extends _layout

block content
    h4 #{today} #{tstr} - 订餐列表
    .container.no-print
        ul.nav.navbar-nav
            li
                a(href="./am") 上午
            li
                a(href="./pm") 下午
    table.table.table-bordered
        tbody
            each user, index in users
                if index % 4 == 0
                    tr
                td
                    img.img-rounded(width=24,src="#{user.headimgurl}")
                    |  #{user.nickname}
    strong 订饭总人数：#{users.length}

    style.
        li { padding: 7px; }
    style(media='print').
        .no-print { display: none; }
